# Node environment
NODE_ENV=dev
# Port number for main server
PORT=3000

# URL of the Mongo DB
MONGO_URI=''

# JWT
# JWT secret key
JWT_SECRET=<your secret key>

# Number of minutes after which an access token expires
JWT_EXPIRATION_INTERVAL="120m"

JWT_RESET_PASSWORD_EXPIRATION_INTERVAL="120m"

# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_INTERVAL=

EMAIL_HOST=email-server
EMAIL_USERNAME=<email-server-username>
EMAIL_PASSWORD=<email-server-password>
EMAIL_FROM=
# Port number for email server
EMAIL_PORT=8081

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Port number for media server
MEDIA_PORT=5000